.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Custom CSS for the like button */
.like-button {
  width: 2.5rem; 
  height: 2.5rem; 
  cursor: pointer;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border-radius: 50%; 
}

.like-button:hover {
  transform: scale(1.1);
 
  box-shadow: 0 0 20px rgba(5, 240, 36, 0.7);
}
.postdiv{
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.postdiv:hover{
  box-shadow: 0 0 20px rgba(44, 47, 238, 0.5);
  transform: scale(1.1);
  
}
.userlist{
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.userlist:hover{
  box-shadow: 0 0 50px rgba(255, 208, 0, 0.979);
 
  
}


